.single-offer {
    padding: 30px 20px 0px 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex !important;
    width: 1200px;
    justify-content: space-between !important;
}

.music-bar {
    display: flex;
    text-align: center;
  width: 100%;
  height: 35px;
  background-color: black;
  margin-top: 25px;
  margin-bottom: 25px;
  color: white;
}
.music-bar p{
margin: 10px;
}
.music-bar i{
color: white;
margin-top: 14px;
}

.image-back{
    width: 300px;
    height: 300px;
}

.line-body-card{
    margin-left: 10px;
    margin-right: 10px;
    width: 75%;
    height: 10px;
    background-color: #4d4d4d;
    /* margin-top: 10px; */
}