.navbar {
  background-color: rgba(0, 0, 0, 0.05) !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: background-color 0.7s ease-in-out !important;
  z-index: 9999;
  color: white !important;
}
.navbar a {
  color: white;
}
.navbar.scrolled {
  background-color: rgba(0, 0, 0, 1) !important;
}
.footer-area {
    background-color: #333333;
}
.footer-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-area .footer-bottom {
  padding-top: 40px;
}
.footer-area .footer-bottom a {
  color: #f6214b;
}
.footer-area .footer-bottom .footer-social i {
  color: #aaa;
  transition: all 0.3s ease 0s;
}
.footer-text{
    color: white;
}
.fa-heart{
    color: #f6214b;
}